body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

#game-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

#skibidi-image {
    width: 100px; /* Adjust as needed */
    height: auto;
    cursor: pointer;
}

#dollar-count {
    font-size: 20px;
    margin-top: 20px;
}


